.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.container {
  margin-left: 0 auto;
  max-width: 1600px !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: white;
  stroke-width: 5px;
}

.fondo-gris {
  background: #d1d5d7;
  display: block;
  margin: 0 auto;
}

.circulo {
    border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
    text-align: center;
    width: 80px;
    height: 80px;
}

.shadow {
   -moz-box-shadow:    inset 5px 5px 30px -12px #000000;
   -webkit-box-shadow: inset 5px 5px 30px -12px #000000;
   box-shadow:         inset 5px 5px 30px -12px #000000;
}

.planificacion {
    background: #e9710a;
    /*background-image: url("images/SVG_Planificacion.svg");*/
}

.fuenteBase {
  font-family: PT Sans, sans-serif;
  color:#ffffff;
  margin-top: 20px;
  margin-left: 0px;
}

.tituloEtapa {
  font-size: 12px;
  font-weight:bold;
}

.fecha {
  font-size: 8px;
}

/* Grafico de contratos */
.axis path,.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
/* Estilo especifico */
.axis path,.axis line {
  fill: none;
  stroke: #b6b6b6;
  shape-rendering: crispEdges;
}
/*.tick line{fill:none;stroke:none;}*/
.tick text {
  fill: #999;
}

g.journal.active {
  cursor: pointer;
}

text.value.active {
  cursor: pointer;
}

text.label {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

text.value {
  font-size: 12px;
  font-weight: bold;
}

.tooltipo {
  width: 300px;
}

.tooltipo td,.tooltip th {
  padding: 2px;
}

.tooltipo .tab_sec td {
  font-size: 11px;
}

.popover {
  border-color: #ddd;
}

.titleChart {
  /*display:none;*/
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.subTitleChart {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.entidad {
  text-align: center;
  font-size: 12px;
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#viz-3 {
  min-height: 100px;
}

.modal-content{
  border-radius: 5px;
}

#embedcode{
  width: 100%;
}

.embed-container{
  float: right;
}

#observacion{
  padding-top: 15px;
}

#buttonFilters, #chart, #graficoPorEntidad{
  text-align: center;
}

/* Mapa d3 */
.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #ccc;
  cursor: pointer;
  stroke: #fff;
}

.feature.active {
  fill: orange;
}

.distrito {
  fill   : #FFBF00;
  cursor : pointer;
  stroke : #8B8B8B;
}

.distrito.active {
  fill: blueviolet;
}
.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#map {
    height: 1000px;
}

.info {
   padding: 6px 8px;
   font: 14px/16px Arial, Helvetica, sans-serif;
   background: white;
   background: rgba(255,255,255,0.8);
   box-shadow: 10 10 15px rgba(0,0,0,0.2);
   border-radius: 5px;
}

.info h4 {
   margin: 10 10 15px;
   color: #777;
}

svg {
  background-color: #ccc;
}

.legend i {
   width: 15px;
   height: 15px;
   float: left;
   margin-right: 8px;
   opacity: 0.8;
}