<div class="col-sm-16">
	<div class="wrap-content clearfix">
		<div class="custom-highlight">
			<h2 class="tab-title">Burbujas por cantidad</h2>

			<br />
			<div class="row" style="text-align: center;margin: 0 auto;">
				<!-- Anio -->
				<div id="buttonYears" class="btn-group-md" aria-label="...">
					<button id="2014" type="button" class="btn btn-default active"
						data-view="sector1">2014</button>
					<button id="2015" type="button" class="btn btn-default"
						data-view="sector1">2015</button>
				</div>
			</div>
			<br />
			<!-- Filtros -->
			<div id="buttonFilters" class="btn-group-sm" aria-label="..." style="text-align: center;margin: 0 auto;">
				<button id="poder-ejecutivo" type="button"
					class="btn btn-default active" data-view="sector1">PODER
					EJECUTIVO</button>
				<button id="gobiernos-departamentales" type="button"
					class="btn btn-default" data-view="sector1">GOBIERNOS
					DEPARTAMENTALES</button>
				<button id="entes-autonomos-autarquicos" type="button"
					class="btn btn-default" data-view="sector1">ENTES
					AUTÓNOMOS Y AUTÁRQUICOS</button>
				<button id="universidades-nacionales" type="button"
					class="btn btn-default" data-view="sector1">UNIVERSIDADES
					NACIONALES</button>
			</div>
			<br />
			<div id="viz-1"
				style="width: auto; min-height: 500px; overflow: auto;"></div>

			<!-- Opciones -->
			<div id="viz-2" style="display: none;">
				<h2 class="tab-title">Burbujas por monto</h2>
				
				<br />
				<div class="row" style="text-align: center;">
					<div id="buttonOptions" class="btn-group" role="group"
						aria-label="...">
						<button id="contrato" type="button"
							class="btn btn-default active" data-view="overall">Contratos
						</button>
						<button id="convocante" type="button" class="btn btn-default"
							data-view="overall">Convocantes</button>
						<button id="categoria" type="button" class="btn btn-default"
							data-view="sector1">Categorías</button>
						<button id="tipo_procedimiento" type="button"
							class="btn btn-default" data-view="sector2">Tipos de
							procedimiento</button>
					</div>
				</div>
				<br /> <br />
				<div id="titleChart" class="titleChart"></div>
				<br />
				<div id="viz-3"
					style="width: auto; height: auto; overflow: auto;"></div>
			</div>

		</div>
	</div>
</div>