<script id="nodo-test" type="text/x-handlebars-template">
    <div class="circulo shadow planificacion">
        <div id="etapa" class="fuenteBase tituloEtapa">{{titulo}}</div>
    </div>
</script>
<div id="viz-container" class="fondo-gris"></div>